<h2>Listado de distribuidores</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th style="width:20px!important"></th>
      <th style="width:20px!important"></th>
      <th style="width:20px!important"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td>
          <%= link_to(vendor) do %>
            <span class="fui-search"></span>
          <% end %>
        </td>
        <td>
          <%= link_to(edit_vendor_path(vendor)) do %>
            <span class="fui-new"></span>
          <% end %>
        </td>
        <td>
          <%= link_to(vendor, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' }) do %>
            <span class="fui-cross"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo distribuidor', new_vendor_path, :class=>"btn btn-large btn-info" %>
