<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre ' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :part, 'Número de parte ' %>
    <%= f.text_field :part %>
  </div>
  <div class="field">
    <%= f.label :brand, 'Marca' %>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :vendor_id, 'Distribuidor' %>
    <%= collection_select(:asset, :vendor_id, Vendor.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :location_id, 'Ubicación' %>
    <%= collection_select(:asset, :location_id, Location.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :amount, 'Existencia' %>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar', :class => "btn btn-large btn-info" %>
    <%= link_to 'Volver a listado', assets_path, :class=>"btn btn-large"%>
  </div>
<% end %>
