<h1>Listing assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Part</th>
      <th>Brand</th>
      <th>vendor_id</th>
      <th>location_id</th>
      <th>Amount</th>
      <th>Taken</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.part %></td>
        <td><%= asset.brand %></td>
        <td><%= asset.vendor_id %></td>
        <td><%= asset.location_id %></td>
        <td><%= asset.amount %></td>
        <td><%= asset.taken %></td>
        <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path %>
