<h2>Listado de activos</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Ubicación</th>
      <th>Existencia</th>
      <th>Utilizados</th>
      <th style="width:20px!important"></th>
      <th style="width:20px!important"></th>
      <th style="width:20px!important"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.brand %></td>
        <td>
          <% if !asset.location.nil? %>
            <span><%= asset.location.name %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </td>
        <td><%= asset.amount %></td>
        <td>
          <% if !asset.taken %>
            <em>0</em>
          <% else %>
            <em><%= asset.taken %></em>
          <% end %>
        </td>
        <td>
          <%= link_to(asset) do %>
            <span class="fui-search"></span>
          <% end %>
        </td>
        <td>
          <%= link_to(edit_asset_path(asset)) do %>
            <span class="fui-new"></span>
          <% end %>
        </td>
        <td>
          <%= link_to(asset, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' }) do %>
            <span class="fui-cross"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo activo', new_asset_path, :class=>"btn btn-large btn-info" %>
