<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Part:</strong>
  <%= @asset.part %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @asset.brand %>
</p>

<p>
  <strong>vendor_id:</strong>
  <%= @asset.vendor_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @asset.location_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @asset.amount %>
</p>

<p>
  <strong>Taken:</strong>
  <% if !@asset.taken %>
    <em>0</em>
  <% else %>
    <em><%= @asset.taken %></em>
  <% end %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
