<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Número de parte:</strong>
  <%= @asset.part %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @asset.brand %>
</p>

<p>
  <strong>Distribuidor:</strong>
  <%= @asset.vendor_id %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @asset.location_id %>
</p>

<p>
  <strong>Existencia:</strong>
  <%= @asset.amount %>
</p>

<p>
  <strong>Utilizados:</strong>
  <% if !@asset.taken %>
    <em>0</em>
  <% else %>
    <em><%= @asset.taken %></em>
  <% end %>
</p>

<%= link_to 'Editar', edit_asset_path(@asset), :class=>"btn btn-large btn-info  " %> 
<%= link_to 'Volver a listado', assets_path, :class=>"btn btn-large"%>
