<h2>Listado de ubicaciones</h2>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th style="width:20px!important"></th>
      <th style="width:20px!important"></th>
      <th style="width:20px!important"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td>
          <%= link_to(location) do %>
            <span class="fui-search"></span>
          <% end %>
        </td>
        <td>
          <%= link_to(edit_location_path(location)) do %>
            <span class="fui-new"></span>
          <% end %>
        </td>
        <td>
          <%= link_to(location, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' }) do %>
            <span class="fui-cross"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva ubicación', new_location_path, :class=>"btn btn-large btn-info" %>
